<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329534552948-3btts6jblj18b3aqjh7dnace1q0g3msf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329534552948-3btts6jblj18b3aqjh7dnace1q0g3msf</string>
	<key>API_KEY</key>
	<string>AIzaSyBuqWR2w423wjbDsbcTyJt3Bsq9G1KTCho</string>
	<key>GCM_SENDER_ID</key>
	<string>329534552948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quotexim.space</string>
	<key>PROJECT_ID</key>
	<string>quotexim-5b987</string>
	<key>STORAGE_BUCKET</key>
	<string>quotexim-5b987.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329534552948:ios:44523d3670c7512af04a21</string>
</dict>
</plist>